.row > .col-4 {
  width: 25%;
}

.wrapper.style1 {
  padding-top: 25px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.wrapper.style2 {
  padding-top: 5px;
  padding-bottom: 0px;
  padding-left: 15px;
  padding-right: 15px;
}

.lang_icons_container {
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  justify-content: space-between;
}

.lang_icon_box {
  width: 100px;
}

.lang_icons {
  padding: 10px;
  height: auto;
  max-width: 100%;
}

header {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

more {
  font-size: 16px;
  line-height: 0;
  font-style: normal;
}

d {
  font-size: 12px;
  color: black;
  margin-left: 5px;
}

t {
  font-style: normal;
  color: black;
  font-weight: bold;
}

.section_titles {
  margin: 0;
  padding: 0;
  font-style: normal;
  margin-top: -10px;
}

#footer {
  padding-top: 15px;
  padding-bottom: 15px;
}

#titleBar a {
  display: none !important;
}

.resume {
  margin-left: 10px;
  font-size: 12px;
}

/* .test {
  display: flex;
  flex-direction: column;
} */
